body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #ffe0de ;
    text-shadow: 1px 1px #582829;
    background-color: #DBB5B5;
    text-align: center;
}

.container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;

}
.container > .boxColor {
    background-color: #C39898;
    width: 400px;
    height: 200px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.all-color {
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px 1px #582829;
    position: absolute;
    left: 10%;
    top: 10%;
}


h1 {
    font-size: 3rem;
    background-color: #C39898;
    border-radius: 35px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

hr {
    border: 3px solid #987070;
}

.colorsName {
    font-size: 30px;
    margin: 0;
    display: inline-block;
    position: relative;
    left: 90px;
    top: 35%;
}


.boxColor:hover {
    background-color: #a37272;
    color: #fccbc7;
}
