body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #DBB5B5;
}

h1 {
    text-align: center;
    font-size: 3rem;
    background-color: #C39898;
    border-radius: 35px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

hr {
    border: 3px solid #987070;
}

.all-color {
    width: 200px;
    height: 200px;
    box-shadow: 8px 8px 13px 2px black;
    margin-top: 10px;
    text-align: center;
    
}

.colorsName {
    font-weight: 800;
    font-size: 1rem;
    padding: 10px;
    text-shadow: 1px 1px grey;
}

.box > .boxColor {
    background-color: #C39898;
    border-radius: 50px;
    margin: 0px 50px;
    text-align: center;
}